@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  overflow-y: scroll;
  --sb-track-color: #ffffff; /* it should be always same as background color of page */
  --sb-thumb-color: #6baf8d;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
